<!-- <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 class="sidenav"
                 fixedInViewport>
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
          <a mat-list-item routerLink="/home">Home</a>
          <a *ngIf="userIsAuthenticated" mat-list-item routerLink="/math">{{ 'nav.firstLink' | translate }}</a>
          <a *ngIf="userIsAuthenticated" mat-list-item routerLink="/informatics">{{ 'nav.secondLink' | translate }}</a>
          <a *ngIf="userIsAuthenticated" mat-list-item routerLink="/devops">{{ 'nav.thirdLink' | translate }}</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="mat-elevation-z6">
        <div class="bg">
            <mat-toolbar>
                <button
                        (click)="drawer.toggle()"
                        *ngIf="isHandset$ | async"
                        aria-label="Toggle sidenav"
                        mat-icon-button
                        type="button">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
                <svg class="bi bi-mortarboard" fill="white" height="30" routerLink="/home"
                     viewBox="0 0 16 16"
                     width="30"
                     xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5ZM8 8.46 1.758 5.965 8 3.052l6.242 2.913L8 8.46Z"/>
                  <path
                    d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Zm-.068 1.873.22-.748 3.496 1.311a.5.5 0 0 0 .352 0l3.496-1.311.22.748L8 12.46l-3.892-1.556Z"/>
                </svg>
                <span class="text-white d-none d-lg-block" routerLink="/home">StudyHelper</span>
                <div class="nav-items-left d-none d-lg-block align-items-center text-white">
                  <a *ngIf="userIsAuthenticated" class="text-center" mat-list-item
                     routerLink="/math">{{ 'nav.firstLink' | translate }}</a>
                  <a *ngIf="userIsAuthenticated" class="text-center" mat-list-item
                     routerLink="/informatics">{{ 'nav.secondLink' | translate }}</a>
                  <a *ngIf="userIsAuthenticated" class="text-center" mat-list-item
                     routerLink="/devops">{{ 'nav.thirdLink' | translate }}</a>
                </div>

                <div class="nav-items-right text-white">
                    <a (click)="openDialog()" *ngIf="!userIsAuthenticated" mat-button>Login</a>
                    <a (click)="openSignup()" *ngIf="!userIsAuthenticated" mat-button>Sign Up</a>
                    <button (click)="onLogout()" *ngIf="userIsAuthenticated" mat-button>Logout</button>
                    <app-theme-toggler></app-theme-toggler>
                    <app-language-switcher></app-language-switcher>
                </div>
            </mat-toolbar>
        </div>
        <router-outlet></router-outlet>

        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container> -->

<nav aria-label="Top Toolbar" class="docs-navbar-header">
  <a aria-label="StudyHelper" class="docs-button" mat-button routerLink="/home" routerLinkActive="active-link">
    <svg class="bi bi-mortarboard" fill="white" height="25" routerLink="/home"
         viewBox="0 0 16 16"
         width="30"
         xmlns="http://www.w3.org/2000/svg">
      <path
        d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5ZM8 8.46 1.758 5.965 8 3.052l6.242 2.913L8 8.46Z"/>
      <path
        d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Zm-.068 1.873.22-.748 3.496 1.311a.5.5 0 0 0 .352 0l3.496-1.311.22.748L8 12.46l-3.892-1.556Z"/>
    </svg>
    <span class="text-white">StudyHelper</span>
  </a>

  <a class="text-white docs-navbar-hide-small docs-button" mat-button
     routerLink="/math/overview"
     routerLinkActive="active-link">{{ 'nav.firstLink' | translate }}</a>

  <a class="text-white docs-navbar-hide-small docs-button" mat-button
     routerLink="/informatics/overview"
     routerLinkActive="active-link">{{ 'nav.secondLink' | translate }}</a>

  <a class="text-white docs-navbar-hide-small docs-button" mat-button
     routerLink="/programming/overview"
     routerLinkActive="active-link">{{ 'nav.thirdLink' | translate }}</a>

  <div class="flex-spacer"></div>
  <a (click)="openDialog()" *ngIf="!userIsAuthenticated" class="text-white" mat-button>Login</a>
  <a (click)="openSignup()" *ngIf="!userIsAuthenticated" class="text-white" mat-button>Sign Up</a>
  <button (click)="onLogout()" *ngIf="userIsAuthenticated" class="text-white" mat-button>Logout</button>
  <app-theme-toggler></app-theme-toggler>
  <app-language-switcher></app-language-switcher>
</nav>

<nav aria-label="Section Nav Bar" class="docs-navbar docs-navbar-show-small">

  <a class="docs-navbar-link" mat-button
     routerLink="/math/overview">{{ 'nav.firstLink' | translate }}</a>

  <a class="docs-navbar-link" mat-button
     routerLink="/informatics/overview">{{ 'nav.secondLink' | translate }}</a>

  <a class="docs-navbar-link" mat-button
     routerLink="/programming/overview">{{ 'nav.thirdLink' | translate }}</a>

</nav>


