$vertical-spacing: 64px;
$horizontal-spacing: 32px;

main {
  min-height: 100vh;
  font-size: 1.25rem;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $vertical-spacing;
}


@media (max-width: 720px) {
  .wrapper {
    flex-direction: column;
  }
}


