<!--
<mat-button-toggle-group
  name="language-switcher"
  aria-label="Select display language"
  (valueChange)="changeLocale($event)"
>
  <mat-button-toggle value="en">EN</mat-button-toggle>
  <mat-button-toggle value="de">DE</mat-button-toggle>
</mat-button-toggle-group>
-->



<mat-form-field appearance="standard">
  <mat-select [(value)]="selected" (valueChange)="changeLocale($event)">
    <mat-option value="en">🇬🇧</mat-option>
    <mat-option value="de">🇩🇪</mat-option>
  </mat-select>
</mat-form-field>

